fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib
bcrypt
python-multipart
email-validator
boto3 
botocore
requests
google-generativeai
alembic
pdfkit
reportlab
argon2-cffi
redis
